.skill-name {
    font-size: 18px;
  }
  
.text {
    color: lemonchiffon;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    background:#cfd8dc ;
    margin: 1px;
    flex: 0 1 24%;
}

.card-img {
    height: 200px;
}   
      